@{
    ViewBag.Title = "About Tribble Population Growth Calculator";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Dallas Rosson is a University of Washington graduate with a degree in computer science and systems.
    He is current a graduate student at the University of Washington Tacoma campus pursuing a computer science and systems masters degree.  Concurrently, he is employed at the
    Naval Undersea Warfare Center as a computer scientiest working in the area of Diminishing Manufacturing Sources and Material Shortages (DMSMS), also known as Obsolescene
    Management.
</p>
